entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[env]
REPLIT_PYTHON_PACKAGE_LAYER = "1"

[objectStorage]
defaultBucketID = "replit-objstore-2beb1307-ac65-40cb-b566-d34e8730dad7"
